body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  margin: 0.5rem;
}

.top-left {
  position: absolute;
  top: 1.15rem;
  left: 0;
}

.egg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
}

.egg-btn {
  background: transparent;
  border: none;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
